<app-header></app-header>
<div class="main-area">
  <div class="block">
    <div *ngIf="topic">
      <h2>{{topic.name | uppercase}} Details</h2>
      <div>
        <h4>id: {{topic.id}}</h4>
      </div>
      <div>
        <h4>Name:</h4>
        <input [(ngModel)]="topic.name" placeholder="Name" />
        <h4>Description:</h4>
        <input [(ngModel)]="topic.description" placeholder="Description" />
      </div>
      <button (click)="save()"><span>Save</span></button>
    </div>
  </div>
</div>
<app-footer></app-footer>
