<app-header></app-header>
<div class="main-area">
  <div class="block">
    <h1>Library</h1>
    <form>
      <h2>Sign up to see the collection of algorithms and data structures.</h2>
      <input type="text" placeholder="Email" #email />
      <input type="text" placeholder="First Name" #firstName />
      <input type="text" placeholder="Last Name" #lastName />
      <input type="text" placeholder="Username" #username>
      <input type="password" placeholder="Password" #password>
      <input type="checkbox" (change)="check()" #staff>
      <p>Request admin rights</p>
      <button (click)="add(email.value, firstName.value, lastName.value, username.value, password.value);
email.value=''; firstName.value=''; lastName.value=''; username.value=''; password.value='';">
        <span>Sign up</span></button>
    </form>
  </div>
</div>
<app-footer></app-footer>
